@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
* {
  box-sizing: border-box;
}
* {
    box-sizing: border-box;
}

header,
section {
    overflow-x: hidden;
}

:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to bottom, #2bf2f2, #a7e1de);
  --light-gray: rgba(255, 255, 255, 0.877);
}

header a {
  font-family: var(--Sniglet-font);
  font-size: 0.9em;
  color: whitesmoke;
}
html,
section #services {
    text-align: center;
    transform: translatez(0);
}
header .nav-item {
padding: 0.9em;
 }      
header .nav-link:hover {
color: black;
}
      
header .row .col-sm-12 {
padding: 22vmin 1vmin;
padding-bottom: 45vmin;
}
      
header .row .col-md-5 {
padding: 4.2vmin 1vmin;
}
      
header {
background: #ff512f;
background: var(--bggradient);
}
      
header .container .col-sm-12 {
font-family: "Rubik", sans-serif;
}
      
header .container .col-sm-12 h6 {
padding: 1vmin;
letter-spacing:  4px;
}
header .container-fluid  {
  padding: 1vmin;
  letter-spacing: 4px;
  }
      
header .container .col-sm-12 h1 {
font-size: 8.5vmin;
font-weight: bold;
}
      
header .container .col-sm-12 p {
padding: 1vmin 5vmin;
}
      
.primary-btn {
 border-radius: 30px;
 font-weight: bold;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 1px;
    transition: all 0.35s linear;
}

:root {
    --accent: #ff83c2;
    --icons: #f97686;
    --bg: #feddee;
  }
  
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 1px;
    transition: all 0.35s linear;
}

footer 
{
    background: black;
    overflow-x: hidden;
    padding: 14vmin 18vmin;
}

.content
{
  background-color: white;
  font-size: 24px;
}

.Background_Changing
{
    width: 100%;
    height: 760px;
    overflow: hidden;
    position: relative;
    background-image: url(../HackTheMind/stream.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: change 60s infinite ease-in-out;
}

@keyframes change
{
    0% { background-image: url(../background/stream.jpg);}
    10% {background-image: url(../background/waterfall.jpg);}
    20% {background-image: url(../background/stream.jpg);}
    30% {background-image: url(../background/waterfall.jpg);}
    40% {background-image: url(../background/stream.jpg);}
    50% {background-image: url(../background/waterfall.jpg);}
    60% { background-image: url(../background/stream.jpg);}
    70% {background-image: url(../background/waterfall.jpg);}
    80% {background-image: url(../background/stream.jpg);}
    90% {background-image: url(../background/waterfall.jpg);}
    100% {background-image: url(../background/stream.jpg);}
}







